/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
/* line 5, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 8, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 9, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 10, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 11, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 12, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 13, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "DIN";
  src: url("DIN.TTF");
}
@font-face {
  font-family: "Ailerons";
  src: url("Ailerons.ttf");
}
/*
GENERAL
*/
/* line 5, ../scss/_typos.scss */
body {
  font-family: "DIN", "Arial", sans-serif;
}

/* line 9, ../scss/_typos.scss */
p {
  margin-bottom: 1rem;
}

/*
LES TITRES
*/
/* line 17, ../scss/_typos.scss */
h1 {
  font-size: 1.7rem;
}
/* line 19, ../scss/_typos.scss */
h1.sub {
  font-size: 1.36rem;
}

/* line 24, ../scss/_typos.scss */
h2 {
  font-size: 1.5rem;
}
/* line 26, ../scss/_typos.scss */
h2.sub {
  font-size: 1.2rem;
}

/* line 31, ../scss/_typos.scss */
h3 {
  font-size: 1.3rem;
}
/* line 33, ../scss/_typos.scss */
h3.sub {
  font-size: 1.04rem;
}

/* line 38, ../scss/_typos.scss */
h4 {
  font-size: 1.1rem;
}
/* line 40, ../scss/_typos.scss */
h4.sub {
  font-size: 0.88rem;
}

/* line 45, ../scss/_typos.scss */
h5 {
  font-size: 1rem;
}
/* line 47, ../scss/_typos.scss */
h5.sub {
  font-size: 0.8rem;
}

/* line 52, ../scss/_typos.scss */
h6 {
  font-size: 0.9rem;
}
/* line 54, ../scss/_typos.scss */
h6.sub {
  font-size: 0.72rem;
}

/* line 59, ../scss/_typos.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* line 67, ../scss/_typos.scss */
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: #333333;
  font-size: 0.8em;
  font-weight: lighter;
}
/* line 73, ../scss/_typos.scss */
h1.sub,
h2.sub,
h3.sub,
h4.sub,
h5.sub,
h6.sub {
  color: #333333;
  font-weight: normal;
}

/*
INLINE
*/
/* line 83, ../scss/_typos.scss */
strong {
  font-weight: bold;
}

/* line 87, ../scss/_typos.scss */
u {
  text-decoration: none;
  border-bottom: 1px red dotted;
}

/* line 92, ../scss/_typos.scss */
em {
  font-style: italic;
}

/*
QUOTE & BLOCKQUOTE
*/
/* line 100, ../scss/_typos.scss */
blockquote {
  background: #f9f9f9;
  font-family: cursive;
  border-left: 10px solid #ccc;
  margin: 10px 10px 30px;
  padding: 10px;
  max-width: 80%;
}
/* line 108, ../scss/_typos.scss */
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/* line 117, ../scss/_typos.scss */
blockquote:after {
  color: #ccc;
  content: "\201D";
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.7em;
}
/* line 126, ../scss/_typos.scss */
blockquote p {
  display: inline;
}

/* line 131, ../scss/_typos.scss */
code {
  border-left: 10px solid #666666;
  display: block;
  font-family: monospace;
  color: #f9f9f9;
  background-color: black;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90%;
  font-size: 0.8rem;
}
@media screen and (min-width: 750px) {
  /* line 131, ../scss/_typos.scss */
  code {
    max-width: 800px;
    font-size: 1rem;
  }
}
/* line 150, ../scss/_typos.scss */
code p {
  line-height: 0.2em;
}

/* line 157, ../scss/_typos.scss */
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 10px 10px 20px;
}

/* line 164, ../scss/_typos.scss */
kbd {
  border-left: 10px solid #ccc;
  display: block;
  font-family: monospace;
  background-color: #f9f9f9;
  margin: 10px 10px 20px;
  padding: 10px;
  max-width: 80%;
}
/* line 173, ../scss/_typos.scss */
kbd p {
  line-height: 0.2em;
}

/*
LES LISTES
*/
/* line 182, ../scss/_typos.scss */
li {
  list-style-type: disc;
  margin-left: 2em;
}

/* line 188, ../scss/_typos.scss */
.ulsquare li {
  list-style-type: square;
}

/* line 192, ../scss/_typos.scss */
.ulnostyle li {
  list-style-type: none;
}

/*
Alignements et transformations
*/
/* line 200, ../scss/_typos.scss */
.alleft {
  text-align: left;
}

/* line 204, ../scss/_typos.scss */
.alright {
  text-align: right;
}

/* line 208, ../scss/_typos.scss */
.alcenter {
  text-align: center;
}

/* line 212, ../scss/_typos.scss */
.aljustified {
  text-align: justify;
}

/* line 216, ../scss/_typos.scss */
.smallcaps {
  font-variant: small-caps;
}

/* line 220, ../scss/_typos.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 224, ../scss/_typos.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 228, ../scss/_typos.scss */
.capitalize {
  text-transform: capitalize;
}

/*
TABLES ET TABLEAUX
*/
/* line 236, ../scss/_typos.scss */
table {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  display: table;
  max-width: 400px;
}
/* line 243, ../scss/_typos.scss */
table th {
  font-variant: small-caps;
}

/* line 248, ../scss/_typos.scss */
table,
th,
td {
  padding: 0.5em 1em 0.5em 1em;
}

/*Tableau bordures*/
/* line 256, ../scss/_typos.scss */
.tableborder,
.tableborder th,
.tableborder td {
  border: 1px solid #666666;
}

/*Tableau ligne alternees*/
/* line 264, ../scss/_typos.scss */
.tablealterne tr:nth-child(even) {
  background-color: white;
  /*blanc*/
}

/* line 269, ../scss/_typos.scss */
.tablealterne tr:nth-child(odd) {
  background-color: #ccc;
  /*gris*/
}

/* line 274, ../scss/_typos.scss */
.tablealterne th {
  background-color: #666666;
  color: white;
}

/*tableau avec survol*/
/* line 281, ../scss/_typos.scss */
.tablehover tr:not(th) {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}

/* line 286, ../scss/_typos.scss */
.tablehover tr:hover:not(th) {
  background-color: #666666;
  color: white;
}

/* line 291, ../scss/_typos.scss */
a {
  color: #4ea6ca;
}
/* line 297, ../scss/_typos.scss */
a:hover {
  color: #333333;
}
/* line 301, ../scss/_typos.scss */
a.disabled {
  color: #f9f9f9;
}
/* line 303, ../scss/_typos.scss */
a.disabled:hover {
  cursor: not-allowed;
}
/* line 308, ../scss/_typos.scss */
a.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

/* line 29, ../scss/_buttons.scss */
.btn {
  border: transparent solid 1px;
  color: white;
  background-color: #666666;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #666666;
  border: #666666 solid 1px;
}

/* line 33, ../scss/_buttons.scss */
.btnOrange {
  border: transparent solid 1px;
  color: white;
  background-color: #EE8400;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnOrange:hover {
  cursor: pointer;
  background-color: transparent;
  color: #EE8400;
  border: #EE8400 solid 1px;
}

/* line 37, ../scss/_buttons.scss */
.btnRed {
  border: transparent solid 1px;
  color: white;
  background-color: #CA3C3C;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnRed:hover {
  cursor: pointer;
  background-color: transparent;
  color: #CA3C3C;
  border: #CA3C3C solid 1px;
}

/* line 41, ../scss/_buttons.scss */
.btnGreen {
  border: transparent solid 1px;
  color: white;
  background-color: #1CB841;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnGreen:hover {
  cursor: pointer;
  background-color: transparent;
  color: #1CB841;
  border: #1CB841 solid 1px;
}

/* line 46, ../scss/_buttons.scss */
.btnBlue {
  border: transparent solid 1px;
  color: white;
  background-color: #4ea6ca;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}
/* line 21, ../scss/_buttons.scss */
.btnBlue:hover {
  cursor: pointer;
  background-color: transparent;
  color: #4ea6ca;
  border: #4ea6ca solid 1px;
}

/* line 52, ../scss/_buttons.scss */
.btn:active {
  /*border:transparent solid 1px;*/
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
}

/* line 59, ../scss/_buttons.scss */
.btnSmall {
  font-weight: normal;
  font-size: 80%;
  padding: 2px 5px;
}

/* line 65, ../scss/_buttons.scss */
.btnLarge {
  font-weight: bolder;
  font-size: 130%;
  padding: 10px 15px;
}

/* line 71, ../scss/_buttons.scss */
.btnFlat {
  font-weight: lighter;
  font-size: 110%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 77, ../scss/_buttons.scss */
.btnFlat:active {
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 86, ../scss/_buttons.scss */
.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* line 93, ../scss/_buttons.scss */
.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.5;
  }
}
/* line 34, ../scss/_alerts.scss */
.alert {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #666666;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 38, ../scss/_alerts.scss */
.alertOrange {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #EE8400;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 42, ../scss/_alerts.scss */
.alertGreen {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #1CB841;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 46, ../scss/_alerts.scss */
.alertBlue {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #4ea6ca;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 50, ../scss/_alerts.scss */
.alertRed {
  box-sizing: border-box;
  display: inline-block;
  border: transparent solid 1px;
  color: white;
  background-color: #CA3C3C;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-family: "DIN", "Arial", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* line 5, ../scss/_composants.scss */
nav {
  background-color: rgba(78, 166, 202, 0.8);
  color: rgba(78, 166, 202, 0.8);
  border-bottom: 3px #ccc solid;
}
@media screen and (min-width: 750px) {
  /* line 5, ../scss/_composants.scss */
  nav {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  /* line 5, ../scss/_composants.scss */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
/* line 21, ../scss/_composants.scss */
nav .navbarbloc {
  text-align: center;
}
/* line 24, ../scss/_composants.scss */
nav .navbarbloc .navbar {
  text-align: center;
  font-variant: small-caps;
  display: inline-block;
}
/* line 29, ../scss/_composants.scss */
nav .navbarbloc .navbar li {
  width: 96%;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
@media screen and (min-width: 750px) {
  /* line 29, ../scss/_composants.scss */
  nav .navbarbloc .navbar li {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 29, ../scss/_composants.scss */
  nav .navbarbloc .navbar li {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
/* line 52, ../scss/_composants.scss */
nav .navbarbloc .navbar a {
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1200px) {
  /* line 52, ../scss/_composants.scss */
  nav .navbarbloc .navbar a {
    font-size: 1.25em;
    color: white;
  }
}
/* line 62, ../scss/_composants.scss */
nav .navbarbloc .navbar a:hover {
  text-decoration: underline;
  color: #333333;
}
/* line 67, ../scss/_composants.scss */
nav .navbarbloc .navbar a.disabled {
  color: #ccc;
}
/* line 69, ../scss/_composants.scss */
nav .navbarbloc .navbar a.disabled:hover {
  text-decoration: none;
}
/* line 74, ../scss/_composants.scss */
nav .navbarbloc .navbar a.active {
  color: black;
  text-decoration: none;
}

/* line 93, ../scss/_composants.scss */
header {
  margin-bottom: 5px;
  color: white;
  background-color: #4ea6ca;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border-bottom: 3px #ccc solid;
}
@media screen and (min-width: 1200px) {
  /* line 93, ../scss/_composants.scss */
  header {
    margin-top: 40px;
  }
}
/* line 111, ../scss/_composants.scss */
header h1 {
  text-transform: uppercase;
}
/* line 113, ../scss/_composants.scss */
header h1 small {
  color: #ccc;
  text-transform: lowercase;
}

/* line 121, ../scss/_composants.scss */
.breadcrumb {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
/* line 126, ../scss/_composants.scss */
.breadcrumb li {
  margin: 0 0.2rem 0 0;
  display: inline;
}
/* line 131, ../scss/_composants.scss */
.breadcrumb li:nth-child(1n + 2):before {
  content: " > ";
}

/* line 138, ../scss/_composants.scss */
.jumbotron {
  background-color: #ccc;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2%;
  text-align: center;
  border-bottom: 3px #666666 solid;
}
/* line 146, ../scss/_composants.scss */
.jumbotron p {
  text-align: center;
  padding-top: 1em;
  padding-left: 3%;
  padding-right: 3%;
}

/* line 158, ../scss/_composants.scss */
.pagination {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* line 162, ../scss/_composants.scss */
.pagination li {
  margin: 0 0.2rem 0 0;
  display: inline;
}

/*FOOTER*/
/* line 170, ../scss/_composants.scss */
footer {
  text-align: center;
  font-variant: small-caps;
  background-color: #4ea6ca;
  margin-top: 1rem;
  padding: 5px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px #ccc solid;
}
/* line 181, ../scss/_composants.scss */
footer li {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 2%;
  padding-left: 2%;
  margin-left: 0;
}
/* line 188, ../scss/_composants.scss */
footer li a {
  font-size: 0.9rem;
  color: white;
}

/* line 1, ../scss/_main.scss */
body {
  box-sizing: border-box;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.2;
}
@media screen and (min-width: 750px) {
  /* line 1, ../scss/_main.scss */
  body {
    max-width: 1280px;
    margin: auto;
    padding: 5px;
  }
}

/* line 16, ../scss/_main.scss */
#boutons div {
  text-align: center;
}

/* line 20, ../scss/_main.scss */
hr {
  border: 0;
  width: 90%;
  color: #4ea6ca;
  background-color: #4ea6ca;
  height: 2px;
}
/* line 27, ../scss/_main.scss */
hr:nth-of-type(even) {
  width: 80%;
  color: #ccc;
  background-color: #ccc;
  margin-bottom: 2rem;
}

/* line 38, ../scss/_main.scss */
header h1 {
  font-family: "Ailerons", "Arial", sans-serif;
  font-size: 2rem;
}
