//@import "../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/box-sizing";
//@import "../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";

@mixin grid_build($totalwidth, $colNbsmall, $colNbMedium, $colNbLarge, $marginW) {
    @for $i from 1 to $colNbsmall+1 {
    .spansmall#{$i} {
      @include row-cols($i, $totalwidth, $colNbsmall, $marginW)
    }
  }
  @for $i from 1 to $colNbsmall {
    .offsetsmall#{$i} {
      @include row-offset($i, $totalwidth, $colNbsmall, $marginW)
    }
  }


  //TABLETTE
  @media screen and(min-width: $responsivewidthtablette) {

    @for $i from 1 to $colNbMedium+1 {
      .spanmedium#{$i} {
        @include row-cols($i, $totalwidth, $colNbMedium, $marginW)
      }
    }
    @for $i from 1 to $colNbMedium {
      .offsetmedium#{$i} {
        @include row-offset($i, $totalwidth, $colNbMedium, $marginW)
      }
    }
  }

  //GRAND ECRAN
  @media screen and(min-width: $responsivewidthscreen) {
    @for $i from 1 to $colNbLarge+1 {
      .spanlarge#{$i} {
        @include row-cols($i, $totalwidth, $colNbLarge, $marginW)
      }
    }
    @for $i from 1 to $colNbLarge {
      .offsetlarge#{$i} {
        @include row-offset($i, $totalwidth, $colNbLarge, $marginW)
      }
    }
  }
}

@mixin row-cols($nbcolwidth, $totalwidth , $colNb, $marginW){
  $colW: $totalwidth/$colNb;
  margin: 0 $marginW ;
  display: inline-block;
  font-size: 1rem;
  @include box-sizing(border-box);
  width: $nbcolwidth*$colW - 2*$marginW;

}


@mixin row-offset($nbcolwidth,$totalwidth, $colNb, $marginW){
  $colW: ($totalwidth)/$colNb;
  margin-left: $nbcolwidth*$colW+$marginW;
}
