body {

  @media screen and (min-width: $responsivewidthtablette) {
    max-width: 1280px;
    margin: auto;
    padding: 5px;
  }

  box-sizing: border-box;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.2;
}

#boutons div {
  text-align: center;
}

hr {
  border: 0;
  width: 90%;
  color: $blue;
  background-color: $blue;
  height: 2px;

  &:nth-of-type(even) {
    width: 80%;
    color: $lightgray;
    background-color: $lightgray;

    margin-bottom: 2rem;
  }

}

header {
  h1 {
    font-family: "Ailerons", "Arial", sans-serif;
    font-size: 2rem;
  }
}

